.footer-container {
  text-align: center;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px -10px,
    rgba(240, 46, 170, 0.2) 0px -15px, rgba(240, 46, 170, 0.1) 0px -20px,
    rgba(240, 46, 170, 0.05) 0px -25px;
}

.footer-icons a {
  margin-inline: 1rem;
  transition: 0.4s;
  color: white;
  font-size: 25px;
}

.footer-icons a:hover {
  color: blue;
}
