.home-container{
  padding-bottom: 5rem;
}

.home-container h1 {
  color: black;
  font-family: "Dela Gothic One", cursive;
  text-shadow: 0 0 3px white, 0 0 5px white;
  padding-bottom: 2rem;
}

.home-container h3 {
  color: black;
  font-family: "Varela Round", sans-serif;
  text-shadow: 0 0 3px white, 0 0 5px white;
  padding-inline: 1rem;
}

.home-container .btn-color {
  position: relative;
  overflow: hidden;
  border: none;
  color: black;
  text-shadow: 0 0 3px white, 0 0 5px white;
  display: inline-block;
  font-size: 18px;
  font-family: "Racing Sans One", cursive;
  line-height: 25px;
  padding: 15px 30px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 50px;
  margin: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.home-container .btn-color span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.home-container .btn-color span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
}

.home-container .btn-color:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.home-container .btn-color:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.home-container .btn-color:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
